/* Global styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  height: 100%;
}

html {
  height: 100%;
}

/* Search input styles */
.input-bordered {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  max-width: 300px;
  margin: 20px 0;
}

.input-bordered input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 8px;
}

.input-bordered input:focus {
  border-color: #007bff;
}

.search-container {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 10;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark #root {
  background-color: black;
  color: white;
}
